@screen-sm-min:             100px;
@screen-sm-min:             768px;
@screen-md-min:             992px;
@screen-lg-min:             1200px;

/* Small devices (max 768px ) */
@media (max-width: @screen-sm-min) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}